<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iljesus.zceblog.mapper.ZceblogloginMapper">

    <resultMap id="BaseResultMap" type="com.iljesus.zceblog.entity.Zcebloglogin">
            <id property="userid" column="userId" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="isadmin" column="isAdmin" jdbcType="TINYINT"/>
            <result property="optional1" column="optional1" jdbcType="VARCHAR"/>
            <result property="optional2" column="optional2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,username,password,
        isAdmin,optional1,optional2
    </sql>
    <select id="findUserInfoByUserId" resultType="com.iljesus.zceblog.entity.Zcebloglogin">
        select * from zcebloglogin where userId=#{userId}
    </select>

</mapper>
